name: Deploy ValesSMP Website

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # Allows manual triggering

jobs:
  deploy:
    runs-on: self-hosted
    steps:
    - name: Deploy Website
      run: /home/docker/scripts/github-deploy.sh
